<div id="<%= dom_id order %>">
  <p>
    <strong>Restaurant:</strong>
    <%= order.restaurant_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= order.subtotal %>
  </p>

  <p>
    <strong>Taxes:</strong>
    <%= order.taxes %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

</div>
