<div id="<%= dom_id dish %>">
  <p>
    <strong>Restaurant:</strong>
    <%= dish.restaurant_id %>
  </p>

  <p>
    <strong>Dish group:</strong>
    <%= dish.dish_group %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dish.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dish.price %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= dish.photo %>
  </p>

</div>
