<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= restaurant.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= restaurant.phone %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= restaurant.logo %>
  </p>

</div>
